<mat-card>
  <mat-card-title>Nova Aula</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Sala"
            [(ngModel)]="aula.sala" name="sala">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nome do Professor"
            [(ngModel)]="aula.nome" name="nome">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Aula"
            [(ngModel)]="aula.aula" name="aula">
    </mat-form-field>
    <mat-form-field>
      <input matInput mask="00/00/0000" placeholder="Data"
            [(ngModel)]="aula.data" name="data">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Início da aula"
            [(ngModel)]="aula.inicioAula" name="inicioAula">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Fim da aula"
            [(ngModel)]="aula.fimAula" name="fimAula">
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="createProduct()" color="primary">
    Salvar
  </button>
  <button mat-raised-button (click)="cancel()" color="danger">
    Cancelar
  </button>
</mat-card>
